<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre - HOME</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" >
            </figure>
            <!-- Code Review Clase 15 - Convertir el siguiente div en un formulario con input y button-->
            <div class="form" action="#" method="GET">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar productos, marcas y más" class="input">
                <button type="submit"class="submit"><i class="fa fa-search"></i></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>        
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <!-- Clase 15 - Micro-Desafío 1 -->
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <!-- Clase 15 - Micro-Desafío 2 -->
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="banner">
        <div>
            <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
        </div>
    </section>
    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" class="product_img" width="250px" alt="cafetera moulinex">
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" class="product_img" width="250px" alt="Macbook Pro 2019">
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h4 class="description">Macbook Pro 2019</h4>
                    </div>                
                </article>
                <article>
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" class="product_img" width="250px" alt="Samsung Galaxy S10">
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>                
                </article>
                <article>
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" class="product_img" width="250px" alt='SmartTv Samsung 43"'>
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>                
                </article> 
            </div>
                  
        </section>
            
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <article>
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" class="product_img" width="250px" alt="cafetera moulinex">
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" class="product_img" width="250px" alt="Macbook Pro 2019">
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h4 class="description">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" class="product_img" width="250px" alt="Samsung Galaxy S10">
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" class="product_img" width="250px" alt='SmartTv Samsung 43"'>
                    </figure>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>               
        </section>
    </main>

    <footer>
        <section class="first">
            <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>
        <section class="first">
            <div>
                <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </section>
        <section class="first">
            <div>
                <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <section  class="second">
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </footer>
</body>
</html>